openapi: 3.0.1
info:
  title: Swagger Cloudtrust Identity Providers
  description: 'Identity Providers API for Cloudtrust'
  version: 1.0.0
servers:
- url: http://localhost:8888/idp
paths:
  /idp/realms/{realm}/identity-providers:
    post:
      tags:
      - Identity providers
      summary: Create an identity provider
      parameters:
      - name: realm
        in: path
        description: realm name (not id!)
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityProviderRepresentation'
      responses:
        200:
          description: successful operation
  /idp/realms/{realm}/identity-providers/{provider}:
    get:
      tags:
      - Identity providers
      summary: Get an identity provider
      parameters:
      - name: realm
        in: path
        description: realm name (not id!)
        required: true
        schema:
          type: string
      - name: provider
        in: path
        description: alias of the provider
        required: true
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProviderRepresentation'
        404:
          description: provider not found
    put:
      tags:
      - Identity providers
      summary: Update an existing identity provider
      parameters:
      - name: realm
        in: path
        description: realm name (not id!)
        required: true
        schema:
          type: string
      - name: provider
        in: path
        description: alias of the provider
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityProviderRepresentation'
      responses:
        200:
          description: successful operation
        404:
          description: provider not found
    delete:
      tags:
      - Identity providers
      summary: Delete an identity provider
      parameters:
      - name: realm
        in: path
        description: realm name (not id!)
        required: true
        schema:
          type: string
      - name: provider
        in: path
        description: alias of the provider
        required: true
        schema:
          type: string
      responses:
        200:
          description: successful operation
        404:
          description: provider not found
  /idp/realms/{realm}/identity-providers/{provider}/mappers:
    get:
      tags:
      - Identity providers
      summary: Get the list of mappers of an identity provider
      parameters:
      - name: realm
        in: path
        description: realm name (not id!)
        required: true
        schema:
          type: string
      - name: provider
        in: path
        description: alias of the provider
        required: true
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IdentityProviderMapperRepresentation'
    post:
      tags:
      - Identity providers
      summary: Create an identity provider mapper
      parameters:
      - name: realm
        in: path
        description: realm name (not id!)
        required: true
        schema:
          type: string
      - name: provider
        in: path
        description: alias of the provider
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityProviderMapperRepresentation'
      responses:
        200:
          description: successful operation
  /idp/realms/{realm}/identity-providers/{provider}/mappers/{id}:
    put:
      tags:
      - Identity providers
      summary: Update an identity provider mapper
      parameters:
      - name: realm
        in: path
        description: realm name (not id!)
        required: true
        schema:
          type: string
      - name: provider
        in: path
        description: alias of the provider
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: ID of the mapper
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityProviderMapperRepresentation'
      responses:
        200:
          description: successful operation
        404:
          description: mapper not found
    delete:
      tags:
      - Identity providers
      summary: Delete an identity provider mapper
      parameters:
      - name: realm
        in: path
        description: realm name (not id!)
        required: true
        schema:
          type: string
      - name: provider
        in: path
        description: alias of the provider
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: ID of the mapper
        required: true
        schema:
          type: string
      responses:
        200:
          description: successful operation
        404:
          description: mapper not found
  /idp/realms/{realm}/users:
    get:
      tags:
      - Identity providers
      summary: Search users having a given attribute set to a given value
      parameters:
      - name: realm
        in: path
        description: realm name (not id!)
        required: true
        schema:
          type: string
      - name: groupName
        in: query
        description: name of a group in which searched users are linked to
        required: true
        schema:
          type: string
      - name: attributeKey
        in: query
        description: key of the attribute the searched users have to own
        required: true
        schema:
          type: string
      - name: attributeValue
        in: query
        description: value of the attribute
        required: true
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        404:
          description: user not found
  /idp/realms/{realm}/users/{user}:
    delete:
      tags:
      - Identity providers
      summary: Delete a user
      parameters:
      - name: realm
        in: path
        description: realm name (not id!)
        required: true
        schema:
          type: string
      - name: user
        in: path
        description: id of a user
        required: true
        schema:
          type: string
      - name: groupName
        in: query
        description: group the user might be in
        required: false
        schema:
          type: string
      responses:
        200:
          description: successful operation
        404:
          description: user not found
  /idp/realms/{realm}/users/{user}/federated-identities:
    get:
      tags:
      - Identity providers
      summary: Get federated identities linked to a user
      parameters:
      - name: realm
        in: path
        description: realm name (not id!)
        required: true
        schema:
          type: string
      - name: user
        in: path
        description: id of a user
        required: true
        schema:
          type: string
      responses:
        200:
          description: successful operation
        404:
          description: user not found

components:
  schemas:
    IdentityProviderRepresentation:
      type: object
      properties:
          AddReadTokenRoleOnCreate: 
            type: boolean
          Alias: 
            type: string
          AuthenticateByDefault: 
            type: boolean
          Config:
            type: object
          DisplayName:
            type: string
          Enabled:
            type: boolean
          FirstBrokerLoginFlowAlias:
            type: string
          InternalID:
            type: string
          LinkOnly:
            type: boolean
          PostBrokerLoginFlowAlias:
            type: string
          ProviderID:
            type: string
          StoreToken:
            type: boolean
          TrustEmail:
            type: boolean
          HrdSettings:
            type: object
            $ref: '#/components/schemas/HrdSettingModel'
    HrdSettingModel:
      type: object
      properties:
          IPRangesList: 
            type: string
          DomainsList:
            type: string
          Priority: 
            type: integer
    IdentityProviderMapperRepresentation:
      type: object
      properties:
          Config:
            type: object
          ID: 
            type: string
          IdentityProviderAlias: 
            type: string
          IdentityProviderMapper: 
            type: string
          Name:
            type: string
    User:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        enabled:
          type: boolean
          default: true
  securitySchemes:
    openId:
      type: openIdConnect
      openIdConnectUrl: http://toto.com/.well-known/openid-configuration
security:
  - openId:
    - todo