services:
  bridge:
    container_name: dev-bridge
    image: mcr.microsoft.com/devcontainers/go:1.25
    ports:
      - "8899:8899"
      - "8888:8888"
      - "8877:8877"
      - "8866:8866"
      - "8855:8855"
      - "8844:8844"
      - "8870:8870"
    volumes:
      - ${BRIDGE_REPOSITORY_FOLDER}:/workspace:cached
    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity
