# For the keys representing duration (i.e. the key ending with "-interval" or "-validity"), 
# the Go syntax is used. Valid units are "h", "m", "s", "ms", "us", "ns", e.g. "2h30m10s".

# Publishing
internal-http-host-port: 0.0.0.0:8888
management-http-host-port: 0.0.0.0:8877
account-http-host-port: 0.0.0.0:8866

# Log level
#   - error: log only error log level
#   - warn: log error and warn log levels
#   - info: log error, warn, info log levels
#   - debug: log error, warn, info, debug log levels
log-level: debug

# CORS
cors-allowed-origins:
  - "http://localhost"
cors-allowed-methods:
  - "GET"
  - "POST"
  - "PUT"
  - "DELETE"
cors-allow-credentials: true
cors-allowed-headers:
  - "Authorization"
  - "Content-Type"
cors-exposed-headers:
  - "Location"
cors-debug: true

# Security
## Audience for JWT token
audience-required: "account"

## Password used to protect /internal/event endpoint
event-basic-auth-token: "superpasswordverylongandstrong"


# Keycloak configs
keycloak-api-uri: http://localhost:8080
keycloak-oidc-uri: http://localhost:8080 http://127.0.0.1:8080
keycloak-timeout: 5s

# DB Audit RW
db-audit-rw-host-port: 127.0.0.1:3306
db-audit-rw-username: root
db-audit-rw-password: admin
db-audit-rw-database: auditevents
db-audit-rw-protocol: tcp
db-audit-rw-parameters: 
db-audit-rw-max-open-conns: 10
db-audit-rw-max-idle-conns: 2
db-audit-rw-conn-max-lifetime: 10
db-audit-rw-migration: false
db-audit-rw-migration-version: 0.1
db-audit-rw-connection-check: false


# DB Audit RO
db-audit-ro-host-port: 127.0.0.1:3306
db-audit-ro-username: root
db-audit-ro-password: admin
db-audit-ro-database: auditevents
db-audit-ro-protocol: tcp
db-audit-ro-parameters: 
db-audit-ro-max-open-conns: 10
db-audit-ro-max-idle-conns: 2
db-audit-ro-conn-max-lifetime: 10
db-audit-ro-migration: false
db-audit-ro-migration-version: 0.1
db-audit-ro-connection-check: false

# DB Configuration RW
db-config-rw-host-port: 127.0.0.1:3306
db-config-rw-username: bridge
db-config-rw-password: bridge-password
db-config-rw-database: cloudtrust_configuration
db-config-rw-protocol: tcp
db-config-rw-parameters:
db-config-rw-max-open-conns: 10
db-config-rw-max-idle-conns: 2
db-config-rw-conn-max-lifetime: 10
db-config-rw-migration: false
db-config-rw-migration-version: 0.1
db-config-rw-connection-check: false

# DB Configuration RO
db-config-ro-host-port: 127.0.0.1:3306
db-config-ro-username: bridge
db-config-ro-password: bridge-password
db-config-ro-database: cloudtrust_configuration
db-config-ro-protocol: tcp
db-config-ro-parameters:
db-config-ro-max-open-conns: 10
db-config-ro-max-idle-conns: 2
db-config-ro-conn-max-lifetime: 10
db-config-ro-migration: false
db-config-ro-migration-version: 0.1
db-config-ro-connection-check: false

# audit events
events-db: false

# Rate limiting in requests/second.
rate-event: 1000
rate-account: 1000
rate-management: 1000
rate-statistics: 1000
rate-events: 1000


# Influx DB configs
influx: false
influx-host-port: 
influx-username: 
influx-password: 
influx-database: 
influx-precision: s
influx-retention-policy: ""
influx-write-consistency: ""
influx-write-interval: 1s

# Sentry configs
sentry: false
sentry-dsn: 

# Jaeger configs
jaeger: false
jaeger-sampler-type: const
jaeger-sampler-param: 1
jaeger-sampler-host-port: 
jaeger-reporter-logspan: false
jaeger-write-interval: 1s

# Debug routes
pprof-route-enabled: true
