openapi: 3.0.1
info:
  title: Swagger Cloudtrust Management
  description: 'API Mangement for Cloudtrust.'
  version: 1.0.0
servers:
- url: http://localhost:8888
tags:
- name: Events
  description: Events management
paths:
  /events/actions:
    get:
      tags:
      - Actions
      summary: Get the list of all possible actions
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Actions'
  /events:
    get:
      tags:
      - Events
      parameters:
      - name: first
        in: query
        description: start offset. Used by pagination.
        required: false
        schema:
          type: number
      - name: max
        in: query
        description: page size. Used by pagination.
        required: false
        schema:
          type: number
      - name: dateFrom
        in: query
        description: start date
        required: false
        schema:
          type: number
      - name: dateTo
        in: query
        description: end date
        required: false
        schema:
          type: number
      - name: realmTarget
        in: query
        description: realm. When missing, all realms
        required: false
        schema:
          type: string
      - name: origin
        in: query
        description: origin (a.k.a. "source"). When missing, all origins.
        required: false
        schema:
          type: string
      - name: ctEventType
        in: query
        description: CT event type. When missing, all CT event types.
        required: false
        schema:
          type: string
      - name: exclude
        in: query
        description: CT event type to be excluded
        required: false
        schema:
          type: string
      summary: Get all events
      responses:
        200:
          description: Returns a list of all events
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  count:
                    type: number
  /events/summary:
    get:
      tags:
      - Events
      summary: Events summary. Used by the backoffice dropdowns.
      parameters:
      - name: realm
        in: path
        description: realm name (not id!)
        required: false
        schema:
          type: string
      responses:
        200:
          description: Returns a summary of all events
          content:
            application/json:
              schema:
                type: object
                properties:
                  origins:
                    type: array
                    items:
                      type: string
                  ctEventTypes:
                    type: array
                    items:
                      type: string
  /events/realms/{realm}/users/{userID}/events:
    get:
      tags:
      - Events
      summary: Get all events for the user
      parameters:
      - name: realm
        in: path
        description: realm name (not id!)
        required: true
        schema:
          type: string
      - name: userID
        in: path
        description: User id
        required: true
        schema:
          type: string
      - name: first
        in: query
        description: start offset. Used by pagination.
        required: false
        schema:
          type: number
      - name: max
        in: query
        description: page size. Used by pagination.
        required: false
        schema:
          type: number
      - name: exclude
        in: query
        description: CT event type to be excluded
        required: false
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  count:
                    type: number
components:
  schemas:
    Actions:
      type: object
      properties:
        name:
          type: string
        scope:
          type: string
    Event:
      type: object
      properties:
        auditId:
          type: string
        auditTime:
          type: number
        origin:
          type: string
        realmName:
          type: string
        agentUserId:
          type: string
        agentUsername:
          type: string
        agentRealmName:
          type: string
        userId:
          type: string
        username:
          type: string
        ctEventType:
          type: string
        kcEventType:
          type: string
        kcOperationType:
          type: string
        clientId:
          type: string
        additionalInfo:
          type: string
  securitySchemes:
    openId:
      type: openIdConnect
      openIdConnectUrl: http://toto.com/.well-known/openid-configuration
security:
  - openId:
    - todo